language: bash
sudo: required

env:
  global:
  - secure: "tJ8w+API6tv7Yqg6wnyRPBxMNwrZQURrYsMAyJ7dsr+M0ssGKPiQsy83ccIvDDibEYXk/5OXonjRzsyCJqqzkXYbkQD9voeTEdqec1AT8UikquzvEZCG33Sqg3oUEuAD44nPNkUTx+OqVnTfrfstc6x+fXDUf96F9pC3J4O9tvJulCC7eIhQq98Vxp4KDhQHsKWCKxYEnXZfKMExLoUFNKbGJxOJLgYtb+S4wxxolvYOkcE7OtTXpCcqWymSyAdjtUGn5TmK3DD3PIqDVT/y4CUPSZJunaHpwE4U8JHpDAGuKwUgRodveS2p9deANBeKkmv+aKSrjgO19OELObqQ9zmPWix9TlWPTg1j197g0+LC+aPkbw/B7hqyjJW/CrqScPu6duu+KYBsYKU3/Z5C9WpO4AlonJSHomWXRMbtcAXe2GLI6Rym1nIvp6WrhR/5RjA4nKnc6/D+dbWS4czncLl3ReRJwVYw+2qVV6wFSYR/1nAKAY2FMXntFeNdHNd47FTg0Po3X0v26Zeir/oAZeVH3OD0WR3Uhv8o9Qir5HL3SMmKxzMNEVbqIzSZVFOZGobtjEWX6ljCI0PZwyLHOwDeUa3LRCsYTeI4KNrinSiE7q4nhhKRLHeJq0wnOPEQiQ8RiHhlBfNI0WR5UG2mkqTNf8Nv5DNhHbNclN5aot0=" # DOCKER_USER
  - secure: "iLt6yiQiNWDtloDUEUl3yK3y9GkcY5763AuzcizmksBNny3ioFUYYfNkKJrHSOLi+K/Lme9Mv4sMiZyFv2bIlZRhKWakA3MaWzPp6POSFl3Fd9Z8aNvDzT7p11HWgcZZUx6urtvbIyeXFCaOOKTt3S7g1AU5hbRj/MdYlCVh8hk8FIAImqzzcMVm5571j7zeC43VSF5Ggpk93yECP3G59ANrPXo8hHHdNJpxFf/YXALC6/W/P6U5/ZPWy1wF8iUDHeZirJ8WosjHuFCiRV00hS6XCvSXhtFWHjWitMhsZMkV6HJzQUTuuBs/1vVRyL2vDaSbzom1dhFIyZgyEsfNOO06TEDB3+1mVAOC2MCkzXPV7nT6Izp7GUp9HOXqjYOHoy9AJOGO391xLnikxHpZtNw5yeKr13fYdNlHtq680IewNsCBi2vWkTj+FW6Km0/5sy3Rao41fczh92g3/PqMsjZVgs2aO68cS2jEB+7gDklTinph84AU3Y8EpDNE3dtqw5kji1k8z4SKU6CW30KwyTRRSnUo3k3vAoMYWFgB/l0A9CnvaP02jMoLGtiZy143t0gSZg5t+yRZPWxetbWkSrasMfTXB4hczJCT+tGYgmlaC8LG62eKvn6vZFlndO+LbMYqpL8HKlVF9vlXsiNeJ6QI6BKB5yYaiUnynH+z3cE=" # DOCKER_PASS
  - secure: "t+LU5M0vHV5DvaGK9vzQwCGFWiI3XVFbDyVi9QwJHFgoojZkHEaA1h10TYtXODweFrkEXhDblo9+HTgWos+Z0Ova6/B3KbSvp8yjdWJwQyIr2KP7bzS6Pj2do73YT/b2bZ+a6qM7QrZIU5sEtXmenYf1VX504t5l2peJZPghNB27lL4335bGVd3JvYTXvpQ5mjCfNrqVW6L5Sij1bbLmQ3yqpdh52ottLlou1HgklGE5MXCOzkbI3KxyT7/ymDOiuH4UyEyQFTkC1ka+Kas2Uxc8h9t3G4amHfoKZG2ameDJfIBWmqlaCLaV4bSeEGWJF5acaovwNBYwXKFp17IkwFDjEhMl3NvN2J4PrcbAxoH/3TRQKUn2mM1E5HDCLOoq0p4wmnN3AZEzRgY1wggf4c+Cy7vFKtdFvXJvH6mvnMUAaM7WOYncqLm1m3qMNLv39qG1l3u7dPZeIZKDUVApb6imSgh6b2s6zItfS2gewH6AhHE3hSyXi5ad3ZmKExqnW8MNRzRsm/O7jgCGtkEDUjtIC9Yd8uw1ZxXP7YjFfx0HdBzUN4rvetXHtMzm3nWaXQ0hLWIdLoGAEcM8IVwvkxUPJ9l1to4bC0aN8gZdl5jIE18vjUlpu8fJ99ZzB9OofSlK57wn+myRTfOyJPwoBLvNmXu7A/8209Mm5+s6g3c=" # DOCKER_EMAIL

branches:
  only:
    - master

services:
  - docker

before_script: 

script:
  - bash ./unifi/mock_test.sh
  - docker login -u $DOCKER_USER -p $DOCKER_PASS
  - export REPO=$DOCKER_USER/ubiquiti-docker
  - make -C unifi build
  - 'if [ "${TRAVIS_PULL_REQUEST}" == "false" ]; then make -C unifi release; fi'
  - bash ./unifi-video/mock_test.sh
  - make -C unifi-video build
  - 'if [ "${TRAVIS_PULL_REQUEST}" == "false" ]; then make -C unifi-video release; fi'

after_success: 
